@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <h3>Further Study Portal</h3>
    <p> Please Register to begin an application or Sign In to continue/update a current application</p>
    <button type="button" class="btn btn-danger" href="Registration">Registration</button>
    <button type="button" class="btn btn-success" href="Dahsboard">Sign In</button>

    
</div>

